<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187980626938-prghulj00mmr5fi48eo6euvudl10cr4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187980626938-prghulj00mmr5fi48eo6euvudl10cr4q</string>
	<key>API_KEY</key>
	<string>AIzaSyDCAhfMjBrKnFoQQ1c4bUe_gCn_SyX2teE</string>
	<key>GCM_SENDER_ID</key>
	<string>187980626938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cheatcoder.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-c47ae</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-c47ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187980626938:ios:d4557e3734bd57a19b4243</string>
</dict>
</plist>